/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
$padding-small: 8px
$padding-medium: 16px
$padding-large: 32px
$padding-xlarge: 64px

body
  padding: 0
  margin: 0
  background: rgba(0,0,0,0.1)

.subtitle-opacity
  opacity: 0.4

.full-width
  width: 100%

.responsive-padding
  padding: $padding-small

  @media (min-width: 768px)
    padding: $padding-medium

  @media (min-width: 992px)
    padding: $padding-large

  @media (min-width: 1200px)
    padding: $padding-xlarge

.cards
  margin-bottom: 32px

.mat-mdc-card-header-text
  margin-bottom: 16px

  .mat-mdc-card-title
    font-size: 1.8rem
