<div class="responsive-padding" *ngIf="user">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="user-profile" fxLayout="column" fxLayoutGap="32px">
      <mat-card>
        <!-- <ng-template #loading> -->
        <!-- <div style="padding:32px"> -->
        <!-- <mat-progress-spinner mode="indeterminate"></mat-progress-spinner> -->
        <!-- </div> -->
        <!-- </ng-template> -->
        <!-- <ng-container *ngIf="user; else loading"> -->
        <mat-card-header>
          <mat-card-title *ngIf="user"
            >{{ user.first_name }} {{ user.last_name }}</mat-card-title
          >
          <mat-card-subtitle
            ><span class="subtitle-opacity"
              >{{ user.username }} &mdash; {{ user.email }}</span
            ></mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Addresses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list role="list">
            <ng-container *ngFor="let address of user.addresses">
              <mat-list-item (click)="openAddressDialog(address)">
                <mat-icon
                  matListItemIcon
                  *ngIf="
                    !address.is_primary_billing && !address.is_primary_shipping
                  "
                  >pin_drop</mat-icon
                >
                <mat-icon matListItemIcon *ngIf="address.is_primary_shipping"
                  >local_shipping</mat-icon
                >
                <mat-icon matListItemIcon *ngIf="address.is_primary_billing"
                  >credit_card</mat-icon
                >
                <div matListItemTitle>{{ address.street }}</div>
                <div matListItemLine>
                  {{ address.city }}, {{ address.state }},
                  {{ address.postal_code }}, {{ address.country }}
                </div>
              </mat-list-item>
            </ng-container>
          </mat-nav-list>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button (click)="openAddressDialog()">
            <mat-icon>add</mat-icon>
            Add Address
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Messages</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list role="list">
            <mat-list-item *ngFor="let message of user.messages">
              <mat-icon matListItemIcon>message</mat-icon>
              <div matListItemTitle>{{ message.title }}</div>
              <div matListItemLine>{{ message.content }}</div>
              <div matListItemLine class="subtitle-opacity">
                {{ message.created_at | date : "short" }}
              </div>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
