<div class="container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="navigation">
        <a mat-list-item [routerLink]="['/']" (click)="sidenav.close()"
          ><mat-icon matListItemIcon>home</mat-icon>Home</a
        >
        <a
          mat-list-item
          *ngIf="isLoggedIn"
          [routerLink]="['/messages']"
          (click)="sidenav.close()"
          routerLinkActive="active"
          ><mat-icon matListItemIcon>messages</mat-icon> Messages</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar mat-elevation-z3">
        <div class="wrap">
          <div class="left">
            <div>
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <!-- <button mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></button> -->
            </div>
            <div>Friends Discount</div>
          </div>

          <div class="right">
            <button mat-raised-button (click)="openChat()">Open Chat</button>
            <button
              mat-icon-button
              (click)="openCreateMessageDialog()"
              aria-label="Create message button"
            >
              <mat-icon>message</mat-icon>
            </button>
            <a href="tel:7802206288" mat-icon-button
              ><mat-icon>phone</mat-icon></a
            >
            <div *ngIf="!isLoggedIn">
              <button
                mat-icon-button
                [matMenuTriggerFor]="authMenu"
                aria-label="Login/Register menu button"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
            <div *ngIf="isLoggedIn">
              <button
                mat-icon-button
                [matMenuTriggerFor]="accountMenu"
                aria-label="Account menu button"
              >
                <mat-icon>account_circle</mat-icon>
              </button>
            </div>
            <mat-menu #accountMenu="matMenu">
              <button mat-menu-item [routerLink]="['messages']">
                <mat-icon>messages</mat-icon>
                <span>Messages</span>
              </button>
              <button mat-menu-item [routerLink]="['user']">
                <mat-icon>badge</mat-icon>
                <span>Profile</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="refreshToken()">
                <mat-icon>refresh</mat-icon>
                <span>Token</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
            <mat-menu #authMenu="matMenu">
              <button mat-menu-item (click)="openLoginDialog()">
                <mat-icon>login</mat-icon>
                <span>Login</span>
              </button>
              <button mat-menu-item (click)="openRegisterDialog()">
                <mat-icon>app_registration</mat-icon>
                <span>Register</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
