<div
  fxLayout="column"
  *ngIf="currentUser$ | async as currentUser; else noUser"
>
  <!-- <h2>Messages</h2> -->
  <!-- <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="end center">
    <div>
      <button mat-icon-button (click)="getMessages()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div> -->
  <app-chat-selector></app-chat-selector>
  <app-chat-dialog
    [messages$]="messages$"
    [user]="currentUser"
  ></app-chat-dialog>


  <!--  <div [@staggeredSlideInOut] fxLayout="column" fxLayoutGap="32px">
      <div *ngFor="let message of messages">
        <mat-card class="message-card" fxFlex>
          <mat-card-header>
            <mat-card-subtitle
              ><span class="subtitle-opacity">{{
                message.created_at | date
              }}</span></mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <p class="mat-body-large">{{ message.content }}</p>
          </mat-card-content>
          <mat-card-actions>
            <div
              fxLayout="row"
              fxLayoutGap="8px"
              fxLayoutAlign="end center"
              fxFlex
            >
              <div>
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  aria-label="Message options button"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openEditDialog(message)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button
                    color="warn"
                    mat-menu-item
                    *ngIf="message.id && authService.isAdmin()"
                    (click)="deleteMessage(message.id)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container> -->
  <div class="input-container">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <div class="input-row">
        <button mat-icon-button color="primary" type="submit">
          <mat-icon>add</mat-icon>
        </button>
        <textarea
          class="chat-input"
          placeholder="Type message here"
          matInput
          formControlName="content"
        ></textarea>
        <button mat-icon-button color="primary" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="fab">
  <button mat-fab (click)="openCreateDialog()"><mat-icon>add</mat-icon></button>
</div>
<ng-template #noUser>
  <p>No user logged in.</p>
</ng-template>
