<div *ngIf="currentUser$ | async as currentUser; else noUser">
  <app-chat-selector></app-chat-selector>
  <app-chat-dialog
    [messages$]="messages$"
    [user]="currentUser"
  ></app-chat-dialog>
  <div class="input-container">
    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
      <div class="input-row">
        <button mat-icon-button color="primary" type="submit">
          <mat-icon>add</mat-icon>
        </button>
        <textarea
          class="chat-input"
          placeholder="Type message here"
          matInput
          formControlName="content"
        ></textarea>
        <button mat-icon-button color="primary" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="fab">
  <button mat-fab (click)="openCreateDialog()"><mat-icon>add</mat-icon></button>
</div>
<ng-template #noUser>
  <p>No user logged in.</p>
</ng-template>
