<div class="message-container" #chatDialog [ngClass]="size">
  <mat-list *ngIf="messages">
    <mat-list-item *ngFor="let message of messages" [ngClass]="size">
      <mat-card
        class="message-card"
        [ngClass]="{
          sent: message.username === currentUser?.username,
          received: message.username !== currentUser?.username,
          size
        }"
      >
        <div class="message-content">{{ message.content }}</div>
        <div class="message-username">{{ message.username }}</div>
      </mat-card>
    </mat-list-item>
  </mat-list>
</div>
